<!-- *ngIf="!loading"-->
<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button aria-label="Cancelar" routerLink="/admin/distrito" onclick="event.preventDefault()">
      <mat-icon>clear</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button aria-label="Guardar" [disabled]="submitting||loading">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>

  <mat-form-field class="full-width">
    <mat-label>Distrito</mat-label>
    <input matInput formControlName="di_nombre" [ngClass]="{ 'is-invalid': submitted && f.di_nombre.errors }"
      oninput="this.value=this.value.replace(/[^a-zA-Z0-9 ]/g,'')">
    <div *ngIf="submitted && f.di_nombre.errors" class="invalid-feedback">
      <div *ngIf="f.di_nombre.errors.required">Nombre requerido</div>
      <div *ngIf="f.di_nombre.errors.minlength">Nombre debetener más characters</div>
      <div *ngIf="f.di_nombre.errors.maxlength">Nombre debetener menos characters</div>
    </div>
  </mat-form-field>

</form>
<!--
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>-->
<span *ngIf="loading||submitting" class="spinner-border spinner-border-lg align-center"></span>
