<igx-input-group type="search" class="search">
  <igx-prefix>
      <igx-icon>search</igx-icon>
  </igx-prefix>
  <input #search igxInput placeholder="Buscar Contrato" [(ngModel)]="seachContract">
  <igx-suffix *ngIf="search.value.length > 0" (click)="seachContract = ''">
      <igx-icon>clear</igx-icon>
  </igx-suffix>
</igx-input-group>
<div class="list">
  <igx-list [displayDensity]="density">
      <igx-list-item [isHeader]="true">Contratos</igx-list-item>
      <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item
          *ngFor="let ko of contracts | igxFilter: filterContracts | slice:0:30;">
          <igx-avatar igxListThumbnail shape="circle">
              <button mat-icon-button aria-label="Editar contrato"
                  routerLink="/admin/contrato/edit/{{ko.ko_codigo}}">
                  <!--<igx-icon fontSet="material">edit</igx-icon>-->
                  <mat-icon>edit</mat-icon>
              </button>
          </igx-avatar>
          <span igxListLineTitle>{{ ko.kt_nombre }}: {{ ko.ko_documento }}</span>
          <span igxListLineSubTitle>{{ ko.kt_contratante_nombre }} | {{ ko.kt_contratista_nombre }}</span>

          <span igxListAction>
              <igx-switch [checked]="ko.ko_estado" (click)="disable(ko.ko_codigo)"></igx-switch>
          </span>
      </igx-list-item>
  </igx-list>
</div>
<button class="add" mat-fab color="primary" aria-label="Crear" routerLink="/admin/contrato/add">
  <mat-icon>add</mat-icon>
</button>
<span *ngIf="loading" class="spinner-border spinner-border-lg align-center"></span>
