<!-- *ngIf="!loading"-->
<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button aria-label="Cancelar" routerLink="/admin/orden-mantenimiento" onclick="event.preventDefault()">
      <mat-icon>clear</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button aria-label="Guardar" [disabled]="submitting||loading">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
  <igx-bottom-nav>
    <igx-bottom-nav-item>
      <igx-bottom-nav-header>
        <igx-icon>fact_check</igx-icon>Solicitud
      </igx-bottom-nav-header>
      <igx-bottom-nav-content>
        <!--Solicitud-->


        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Tipo Solicitud</mat-label>
          <input matInput placeholder="Placeholder" [value]="vehicleRequest?.kt_nombre" readonly >
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Solicitante</mat-label>
          <input matInput placeholder="Placeholder" [value]="vehicleRequest?.pe_nombres" readonly >
        </mat-form-field>

        <mat-form-field appearance="outline" class="width1-3">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" [value]="vehicleRequest?.sv_fecha_requerimiento" readonly  [disabled]="true">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width1-3">
          <mat-label>Tipo Vehículo</mat-label>
          <input matInput placeholder="Tipo de vehículo" [value]="vehicleRequest?.vt_nombre" readonly >
        </mat-form-field>

        <mat-form-field appearance="outline" class="width1-3">
          <mat-label>Placa</mat-label>
          <input matInput placeholder="Placa del vehículo" [value]="vehicleRequest?.ve_placa" readonly >
        </mat-form-field>

        <mat-form-field appearance="outline" class="width1-3">
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="Modelo del vehículo" [value]="vehicleRequest?.vm_nombre" readonly >
        </mat-form-field>

        <mat-form-field appearance="outline" class="width1-3">
          <mat-label>Kms</mat-label>
          <input matInput placeholder="Kilometraje" [value]="vehicleRequest?.ve_km" readonly >
        </mat-form-field>

        <mat-form-field appearance="outline" class="width1-3">
          <mat-label>Nivel Combustible</mat-label>
          <input matInput placeholder="Nivel de Combustible" [value]="vehicleRequest?.ve_combustible_nivel" readonly >
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Descrición de solicitud..." [value]="vehicleRequest?.sv_descripcion" readonly></textarea>
        </mat-form-field>
<!--
        <mat-form-field class="full-width" *ngIf="vehicleRequest?.kt_codigo==1">
          <mat-label>Taller</mat-label>
          <mat-select formControlName="en_codigo">
            <mat-option *ngFor="let en of lsEntities" [value]="en.en_codigo">
              {{en.en_nombre}} ({{ en.di_codigo}})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Observación</mat-label>
          <textarea matInput placeholder="Descrición de Aprobación/Negación..." formControlName="sv_observacion" ></textarea>
        </mat-form-field>

        <igx-buttongroup style="display: inline-block; width: 80%; margin:auto 10%; text-align: center;">
          <button igxButton igxRipple="red" [selected]="f.sv_aprobacion.value===0" (click)="aprobar(false)">
              <igx-icon>thumb_down</igx-icon><span class="flex-spacer">{{ (vehicleRequest?.sv_aprobacion===null?'Negar':'Negado') }}</span>
          </button>
          <button igxButton igxRipple="green" [selected]="f.sv_aprobacion.value===1" (click)="aprobar(true)">
              <span class="flex-spacer">{{ (vehicleRequest?.sv_aprobacion===null?'Aprobar':'Aprobado') }}</span><igx-icon>thumb_up</igx-icon>
          </button>
        </igx-buttongroup>
      -->


        <!--Solicitud-->
      </igx-bottom-nav-content>
    </igx-bottom-nav-item>



    <igx-bottom-nav-item>
      <igx-bottom-nav-header>
        <mat-icon>checkbook</mat-icon>Constancia
      </igx-bottom-nav-header>
      <igx-bottom-nav-content>
        <!--Costancia-->

        <mat-form-field class="width2-3">
          <mat-label>Condición de ingreso (Taller)</mat-label>
          <textarea matInput placeholder="Estado de ingreso del vehículo al taller..." formControlName="om_ingreso_condicion" 
          [readonly]="isCustodian || f.om_ingreso_aceptacion.value || f.om_entrega_condicion.value?.length"
          ></textarea>
          <!--{{isCustodian}}---{{f.om_ingreso_aceptacion.value}}---{{f.om_entrega_condicion.value.length}}-->
        </mat-form-field>

        <mat-checkbox class="width1-3"
          formControlName="om_ingreso_aceptacion"
          [checked]="f.om_ingreso_aceptacion.value"
          [indeterminate]="f.om_ingreso_aceptacion.value === null"
          color="primary">
          Aceptación<br/>de Custodio
        </mat-checkbox>


        <mat-form-field class="width2-3">
          <mat-label>Condiciones de entrega (Taller)</mat-label>
          <textarea matInput placeholder="Estado de ingreso del vehículo al taller..." formControlName="om_entrega_condicion"
          [readonly]="isCustodian || f.om_entrega_aceptacion.value || f.om_documento.value?.length"
          ></textarea>
        </mat-form-field>

        <mat-checkbox class="width1-3"
          formControlName="om_entrega_aceptacion"
          [checked]="f.om_entrega_aceptacion.value"
          [indeterminate]="f.om_entrega_aceptacion.value === null"
          color="primary">
          Aceptación<br/>de Custodio
        </mat-checkbox>

        <mat-form-field class="width2-3">
          <mat-label>Documento/Voucher/Factura</mat-label>
          <input matInput aria-label="Documento" formControlName="om_documento" [ngClass]="{ 'is-invalid': submitted && f.om_documento.errors }"
          [readonly]="isCustodian || f.om_progreso.value == 100"
          >
          <!--<div *ngIf="submitted && f.om_documento.errors" class="invalid-feedback">
            <div *ngIf="f.om_documento.errors.required">Dato requerido</div>
          </div>-->
        </mat-form-field>

        <mat-form-field appearance="outline" class="width1-3">
          <mat-label>Valor Total</mat-label>
          <input matInput placeholder="Valor total" [value]="f.om_total.value" readonly style="text-align: right;">
        </mat-form-field>

        <label class="full-width">Progreso ({{ f.om_progreso.value }} %)
          <mat-slider min="0" max="100" step="1" discrete style="width: calc(100% - 20px); margin: 0 10px"
          [disabled]="isCustodian || f.om_progreso.value == 100"
          >
            <input matSliderThumb formControlName="om_progreso">
          </mat-slider>
        </label>

        <!--Constancia-->
      </igx-bottom-nav-content>
    </igx-bottom-nav-item>



    <igx-bottom-nav-item>
      <igx-bottom-nav-header>
        <igx-icon>checklist</igx-icon>Actividades
      </igx-bottom-nav-header>
      <igx-bottom-nav-content>
        <!--Actividades-->



        <!--Actividades-->
      </igx-bottom-nav-content>
    </igx-bottom-nav-item>

    <igx-bottom-nav-item>
      <igx-bottom-nav-header>
        <mat-icon>construction</mat-icon>Repuestos
      </igx-bottom-nav-header>
      <igx-bottom-nav-content>
        <!--Repuestos-->



        <!--Repuestos-->
      </igx-bottom-nav-content>
    </igx-bottom-nav-item>


  </igx-bottom-nav>
</form>
<!--
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>-->
<span *ngIf="loading||submitting" class="spinner-border spinner-border-lg align-center"></span>
