<div class="content">
    <nav>
        <img src="assets/icons/icon.svg" alt="PoliceMend" height="32" width="32">

        <a class="start-option" mat-button routerLink="/sugerencias" color="primary">Reclamos y Sugerencias</a>
        <!--<button class="start-option" routerLink="/denuncia">sugerencias</button>-->
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/home">Ingresar</button>
    </nav>
    <h5>Polícia Nacional,
        <h6>Al servicio de todos</h6>
    </h5>
</div>