<igx-input-group type="search" class="search">
  <igx-prefix>
      <igx-icon>search</igx-icon>
  </igx-prefix>
  <input #search igxInput placeholder="Buscar Persona" [(ngModel)]="searchPerson">
  <igx-suffix *ngIf="search.value.length > 0" (click)="searchPerson = ''">
      <igx-icon>clear</igx-icon>
  </igx-suffix>
</igx-input-group>
<div class="list">
  <igx-list [displayDensity]="density">
      <igx-list-item [isHeader]="true">Personal</igx-list-item>
      <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item
          *ngFor="let pe of lsPeople | igxFilter: filterPeople | slice:0:30;">
          <igx-avatar igxListThumbnail shape="circle">
              <button mat-icon-button aria-label="Editar personal"
                  routerLink="/admin/personal/edit/{{pe.pe_codigo}}">
                  <!--<igx-icon fontSet="material">edit</igx-icon>-->
                  <mat-icon>edit</mat-icon>
              </button>
          </igx-avatar>
          <span igxListLineTitle>{{ pe.pe_apellido1 }} {{ pe.pe_apellido2 }} {{ pe.pe_nombre1 }}</span>
          <span igxListLineSubTitle>{{ pe.pe_dni }} ({{ pe.pe_sangre }})</span>

          <span igxListAction class="pe-actions">
              <igx-switch [checked]="pe.pe_estado" (click)="disable(pe.pe_codigo)"></igx-switch>
          </span>
      </igx-list-item>
  </igx-list>
</div>
<button class="add" mat-fab color="primary" aria-label="Crear" routerLink="/admin/personal/add">
  <mat-icon>add</mat-icon>
</button>
<span *ngIf="loading" class="spinner-border spinner-border-lg align-center"></span>
