.full-width,
.half-width,
.width1-3,
.width2-3 {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

.width1-3 {
    width: calc(100% * 1/3);
    max-width: calc(100% * 1/3);
}

.width2-3 {
    width: calc(100% * 2/3);
    max-width: calc(100% * 2/3);
}

table.mat-elevation-z8 {
    margin: 0 20px;
    width: calc(100% - 40px);
    min-width: calc(100% - 40px) !important;
    max-width: calc(100% - 40px) !important;
}


/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media all /*and (min-width: 421px)*/ and (max-width: 599px) {
    th.col_3, td.col_3{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 420px) {
    th.col_4, td.col_4{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }    
}