<mat-form-field class="full-width">
    <mat-label>Seleccione rango de fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker"  [disabled]="submitting">
      <input matStartDate placeholder="Inicio" (dateChange)="onChangeDates($event.value,1)">
      <input matEndDate placeholder="Fin" (dateChange)="onChangeDates($event.value,2)">
    </mat-date-range-input>
    <!--<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="od_codigo">
      <th class="col_1" mat-header-cell *matHeaderCellDef> ID </th>
      <td class="col_1" mat-cell *matCellDef="let element" class="col_1"> {{element.od_codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="sv_descripcion">
        <th class="col_2" mat-header-cell *matHeaderCellDef> Motivo </th>
        <td class="col_2" mat-cell *matCellDef="let element"> {{element.sv_descripcion}} </td>
    </ng-container>
    
    <ng-container matColumnDef="od_fecha_salida">
        <th class="col_2" mat-header-cell *matHeaderCellDef> Fch.Salida </th>
        <td class="col_2" mat-cell *matCellDef="let element"> {{element.od_fecha_salida}} </td>
    </ng-container>

    <ng-container matColumnDef="od_hora_salida">
        <th class="col_2" mat-header-cell *matHeaderCellDef> HH.Salida </th>
        <td class="col_2" mat-cell *matCellDef="let element"> {{element.od_hora_salida}} </td>
    </ng-container>


    <ng-container matColumnDef="vt_nombre">
      <th class="col_2" mat-header-cell *matHeaderCellDef> Tipo </th>
      <td class="col_2" mat-cell *matCellDef="let element"> {{element.vt_nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="ve_modelo">
        <th class="col_3" mat-header-cell *matHeaderCellDef> Modelo </th>
        <td class="col_3" mat-cell *matCellDef="let element"> {{element.ve_modelo}} </td>
    </ng-container>

    <ng-container matColumnDef="ve_placa">
        <th class="col_4" mat-header-cell *matHeaderCellDef> Placa </th>
        <td class="col_4" mat-cell *matCellDef="let element"> {{element.ve_placa}} </td>
      </ng-container>

    <ng-container matColumnDef="ve_km">
      <th class="col_5" mat-header-cell *matHeaderCellDef> KMs Salida </th>
      <td class="col_5" mat-cell *matCellDef="let element"> {{element.ve_km}} </td>
    </ng-container>

    <ng-container matColumnDef="pe_nombres">
      <th class="col_8" mat-header-cell *matHeaderCellDef> Conductor </th>
      <td class="col_8" mat-cell *matCellDef="let element"> {{element.pe_nombres}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button class="action" mat-fab color="primary" aria-label="Descargar" (click)="download()" *ngIf="dataSource!==undefined && dataSource.length > 0">
  <mat-icon>download</mat-icon>
</button>

<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>
