<igx-input-group type="search" class="search">
  <igx-prefix>
      <igx-icon>search</igx-icon>
  </igx-prefix>
  <input #search igxInput placeholder="Buscar Perfil" [(ngModel)]="seachProfile">
  <igx-suffix *ngIf="search.value.length > 0" (click)="seachProfile = ''">
      <igx-icon>clear</igx-icon>
  </igx-suffix>
</igx-input-group>
<div class="list">
  <igx-list [displayDensity]="density">
      <igx-list-item [isHeader]="true">Perfiles</igx-list-item>
      <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item
          *ngFor="let pf of profiles | igxFilter: filterProfiles | slice:0:30;">
          <igx-avatar igxListThumbnail shape="circle">
              <button mat-icon-button aria-label="Editar perfil"
                  routerLink="/admin/perfil/edit/{{pf.pf_codigo}}">
                  <!--<igx-icon fontSet="material">edit</igx-icon>-->
                  <mat-icon>edit</mat-icon>
              </button>
          </igx-avatar>
          <span igxListLineTitle>{{ pf.pf_nombre }}</span>

          <span igxListAction>
              <igx-switch [checked]="pf.pf_estado" (click)="disable(pf.pf_codigo)"></igx-switch>
          </span>
      </igx-list-item>
  </igx-list>
</div>
<button class="add" mat-fab color="primary" aria-label="Crear" routerLink="/admin/perfil/add">
  <mat-icon>add</mat-icon>
</button>
<span *ngIf="loading" class="spinner-border spinner-border-lg align-center"></span>
