<igx-input-group type="search" class="search">
  <igx-prefix>
      <igx-icon>search</igx-icon>
  </igx-prefix>
  <input #search igxInput placeholder="Buscar Circuito" [(ngModel)]="seachCircuit">
  <igx-suffix *ngIf="search.value.length > 0" (click)="seachCircuit = ''">
      <igx-icon>clear</igx-icon>
  </igx-suffix>
</igx-input-group>
<div class="list">
  <igx-list [displayDensity]="density">
      <igx-list-item [isHeader]="true">Circuitos</igx-list-item>
      <igx-list-item igxRipple igxRippleTarget=".igx-list__item-content" #item
          *ngFor="let cc of circuits | igxFilter: filterCircuits | slice:0:30;">
          <igx-avatar igxListThumbnail shape="circle">
              <button mat-icon-button aria-label="Editar circuito"
                  routerLink="/admin/circuito/edit/{{cc.cc_codigo}}">
                  <!--<igx-icon fontSet="material">edit</igx-icon>-->
                  <mat-icon>edit</mat-icon>
              </button>
          </igx-avatar>
          <span igxListLineTitle>{{ cc.cc_nombre }}</span>
          <span igxListLineSubTitle>{{ cc.cc_codigo }}</span>

          <span igxListAction class="di-actions">
              <igx-switch [checked]="cc.cc_estado" (click)="disable(cc.cc_codigo)"></igx-switch>
          </span>
      </igx-list-item>
  </igx-list>
</div>
<button class="add" mat-fab color="primary" aria-label="Crear" routerLink="/admin/circuito/add">
  <mat-icon>add</mat-icon>
</button>
<span *ngIf="loading" class="spinner-border spinner-border-lg align-center"></span>
