<mat-form-field class="width2-3">
    <mat-label>Seleccione rango de fechas</mat-label>
    <mat-date-range-input [rangePicker]="picker"  [disabled]="submitting">
      <input matStartDate placeholder="Inicio" (dateChange)="onChangeDates($event.value,1)">
      <input matEndDate placeholder="Fin" (dateChange)="onChangeDates($event.value,2)">
    </mat-date-range-input>
    <!--<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<mat-checkbox class="width1-3"
    [checked]="finished"
    (change)="onChangeDates($event,3)"
    color="primary">
    Terminado
</mat-checkbox>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="om_codigo">
      <th class="col_1" mat-header-cell *matHeaderCellDef> Orden </th>
      <td class="col_1" mat-cell *matCellDef="let element" class="col_1"> {{element.om_codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="vt_nombre">
      <th class="col_2" mat-header-cell *matHeaderCellDef> Tipo </th>
      <td class="col_2" mat-cell *matCellDef="let element"> {{element.vt_nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="ve_modelo">
        <th class="col_3" mat-header-cell *matHeaderCellDef> Modelo </th>
        <td class="col_3" mat-cell *matCellDef="let element"> {{element.ve_modelo}} </td>
    </ng-container>

    <ng-container matColumnDef="ve_placa">
        <th class="col_4" mat-header-cell *matHeaderCellDef> Placa </th>
        <td class="col_4" mat-cell *matCellDef="let element"> {{element.ve_placa}} </td>
      </ng-container>

    <ng-container matColumnDef="pe_nombres">
        <th class="col_5" mat-header-cell *matHeaderCellDef> Personal </th>
        <td class="col_5" mat-cell *matCellDef="let element"> {{element.pe_nombres}} </td>
    </ng-container>

    <ng-container matColumnDef="pe_nombres">
        <th class="col_6" mat-header-cell *matHeaderCellDef> Motivo </th>
        <td class="col_6" mat-cell *matCellDef="let element"> {{element.pe_nombres}} </td>
    </ng-container>

    <ng-container matColumnDef="om_progreso">
        <th class="col_7" mat-header-cell *matHeaderCellDef> Avance </th>
        <td class="col_8" mat-cell *matCellDef="let element" style="text-align: right"> {{element.om_progreso || 0}} %</td>
    </ng-container>

    <ng-container matColumnDef="om_total">
        <th class="col_9" mat-header-cell *matHeaderCellDef> Valor ($) </th>
        <td class="col_9" mat-cell *matCellDef="let element" style="text-align: right">{{element.om_total | currency:'USD':true}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button class="action" mat-fab color="primary" aria-label="Descargar" (click)="download()" *ngIf="dataSource!==undefined && dataSource.length > 0">
  <mat-icon>download</mat-icon>
</button>

<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>
